[submodule "src/includes/wptelegram-bot-api"]
	path = src/includes/wptelegram-bot-api
	url = git@github.com:wpsocio/wptelegram-bot-api.git
[submodule "src/includes/format-text"]
	path = src/includes/format-text
	url = git@github.com:wpsocio/wptelegram-format-text.git
