@font-face {
	font-family: "WPTelegram";
	src: url("../fonts/WPTelegram.eot");
	src: url("../fonts/WPTelegram.eot?#iefix") format("embedded-opentype"),
		url("../fonts/WPTelegram.woff2") format("woff2"),
		url("../fonts/WPTelegram.woff") format("woff"),
		url("../fonts/WPTelegram.ttf") format("truetype"),
		url("../fonts/WPTelegram.svg#WPTelegram") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#adminmenu
	#toplevel_page_wptelegram
	.menu-icon-generic
	div.wp-menu-image::before {
	font-family: WPTelegram !important;
	content: "\e03d";
}
