/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.p2tg-rules select {
	width: 99.9%;
}
.p2tg-rules td {
    padding: 5px;
    display: table-cell;
}
.p2tg-rules td.param {
    width: 35%;
}
.p2tg-rules td.operator {
    width: 15%;
}
.p2tg-rules td.values {
    max-width: 40%;
}
.p2tg-rules td.add {
    width: 5%;
}
.p2tg-rules td.remove {
    width: 5%;
}
.p2tg-rules .add, .p2tg-rules .remove {
    padding: 2px;
}
.p2tg-rules-remove.button:hover {
    color: #ff0000;
    background: #fff;
}
.cmb2-id-wptg_p2tg-rules h4 {
    text-align: center;
}
.p2tg-rules-group:first-child > h4 {
    display: none;
}